<div class="form-content row" id="service_ship_main">
    <div class="large-4 columns">
        <label>
            <input type="radio" name="product[service]" checked="" value="0" class="input-preview" />
            <span data-tooltip class="has-tip tip-top" title="Chuyển phát nhanh EMS: là dịch vụ nhận gửi, vận chuyển và phát các loại thư, tài liệu, vật phẩm hàng hóa theo chỉ tiêu thời gian được công bố trước.">Chuyển phát nhanh</span>
        </label>
    </div>
    <div class="large-4 columns">
        <label>
            <input type="radio" name="product[service]" value="1" class="input-preview" />
            <span data-tooltip class="has-tip tip-top" title="Dịch vụ chuyển phát các loại bưu phẩm bưu kiện...trong nước và quốc tế từ người gửi đến người nhận.">Chuyển phát thường</span>
        </label>
    </div>
    <div class="large-4 columns">
        <label>
            <input type="radio" name="product[service]" value="1" class="input-preview" />
            <span data-tooltip class="has-tip tip-top" title="Chuyển phát các lô hàng có khối lượng lớn (bao gồm một hoặc nhiều kiện hàng) tới một địa chỉ hoặc nhiều địa chỉ khác nhau">Chuyển phát đặc biệt</span>
        </label>
    </div>
</div>
