<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="NOTIFICATION_SERVER" value="mongodb://vnpost.payid.vn:27017" />
    <add key="NOTIFICATION_DATABASE" value="cashpost_core" />
    <add key="Mail_Server" value="smtp.gmail.com"/>
    <add key="Mail_Port" value="587"/>
    <add key="Mail_From" value="huyroberto@gmail.com"/>
    <add key="Mail_User_Id" value="huyroberto@gmail.com"/>
    <add key="Mail_User_Password" value="nguyenquanghuyhoalangtu"/>
    <add key="Mail_Is_SSL" value="true"/>

    <add key="SERVICE_REQUEST_DB_SERVER" value="mongodb://vnpost.payid.vn:27017" />
    <add key="SERVICE_REQUEST_DB_DATABASE" value="cashpost_core" />
    <add key="CORE_DB_SERVER" value="mongodb://vnpost.payid.vn:27017" />
    <add key="CORE_DB_DATABASE" value="cashpost_core" />
    <add key="MERCHANT_DB_SERVER" value="mongodb://vnpost.payid.vn:27017" />
    <add key="MERCHANT_DB_DATABASE" value="cashpost_core" />
    <add key="METADATA_DB_SERVER" value="mongodb://vnpost.payid.vn:27017" />
    <add key="METADATA_DB_DATABASE" value="cashpost_core" />
    <add key="SYSTEM_CFG_DB_SERVER" value="mongodb://vnpost.payid.vn:27017" />
    <add key="SYSTEM_CFG_DB_DATABASE" value="cashpost_core" />
    <add key="LADING_DB_SERVER" value="mongodb://vnpost.payid.vn:27017" />
    <add key="LADING_DB_DATABASE" value="cashpost_core" />
    <add key="TRANSACTION_DB_SERVER" value="mongodb://vnpost.payid.vn:27017" />
    <add key="TRANSACTION_DB_DATABASE" value="cashpost_core" />
    <add key="DATASYNC_TIME_SLEEP" value="5" />
    <add key="SENDO_USER" value="carrier"/>
    <add key="SENDO_PASSWORD" value="carrier"/>
    <add key="SENDO_API_KEY" value="1192e1310bcace1b04efd6a6f161d632e6062750"/>
    
  </appSettings>
  <connectionStrings>
    <add name="PayID.Data.Properties.Settings.payidcoreConnectionString" connectionString="Data Source=172.16.7.12;Initial Catalog=payidcore;Persist Security Info=True;User ID=sa;Password=payid123@;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="PaycodeSoap" />
        <binding name="TrackAndTraceSoap" />
        <binding name="httpExchangeService" />
        <binding name="BasicHttpBinding_ICarrierService" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="ExchangeService"  maxReceivedMessageSize="2097152"
                maxBufferSize="2097152"
                maxBufferPoolSize="2097152">
          <security mode="None" />
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="wsExchangeService">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://bccp.vnpost.vn/paycode/paycode.asmx"
          binding="basicHttpBinding" bindingConfiguration="PaycodeSoap"
          contract="bccp_ws.PaycodeSoap" name="PaycodeSoap" />
      <endpoint address="http://115.146.122.94:8808/TrackAndTrace/TrackAndTrace.asmx"
          binding="basicHttpBinding" bindingConfiguration="TrackAndTraceSoap"
          contract="vnpost.bccp.TrackAndTraceSoap" name="TrackAndTraceSoap" />
      <endpoint address="http://111.65.244.243/InsideServiceBusTest2/carrier/CarrierService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICarrierService"
          contract="vn.sendo.ICarrierService" name="BasicHttpBinding_ICarrierService" />
      <endpoint address="net.tcp://bccp-gw.vnpost.vn:1014/ExchangeService"
          binding="netTcpBinding" bindingConfiguration="ExchangeService"
          contract="vnpost.bccp.v2.IService" name="ExchangeService" />
      <!--<endpoint address="http://123.30.11.219:1016/" binding="wsHttpBinding"
                bindingConfiguration="wsExchangeService" contract="vnpost.bccp.v2.IService"
                name="wsExchangeService" />
            <endpoint address="http://123.30.11.219:1016/http" binding="basicHttpBinding"
                bindingConfiguration="httpExchangeService" contract="vnpost.bccp.v2.IService"
                name="httpExchangeService" />-->
    </client>
  </system.serviceModel>
</configuration>