@section TopMenu{

    <li><a href=@Url.Content("/Systems/Home/")>Trang chủ</a></li>
    <li class="active"><a href=@Url.Content("/Systems/Setting/")>Cấu hình Hệ thống</a></li>
    <li><a href=@Url.Content("/Systems/Log/")>Log hệ thống</a></li>
}
<ol class="breadcrumb">
    <li><a href=@Url.Content("/Systems/Home/")>Trang chủ</a></li>
    <li class="active"><a href=@Url.Content("/Systems/Setting/")>Cấu hình Hệ thống</a></li>
</ol>
