<form id="CancelAssignForm">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h2 class="modal-title">Hủy Điều tin</h2>
    </div>
    <div class="modal-body" style="padding:15px !important;">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Lý do</label>
                    <textarea id="Remark" class="form-control validate[required]"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0)" id="btnUnitProcess" onclick="Shipment.CancelAssign()" class="btn btn-primary ">Cập nhật</a>
        <button style="float: right;" type="button" class="btn btn-default btn-close" data-dismiss="modal">Hủy</button>
    </div>
</form>