@*@section TopMenu{

    <li class="active"><a href="#">Trang chủ</a></li>
    <li><a href="/Metadata/Organization">Đơn vị trực thuộc</a></li>
    <li><a href="#contact">Đơn vị hành chính</a></li>
}*@

@*/*
//                        /-------------\
//                       /               \
//                      /                 \
//                     /                   \
//                     |   XXXX     XXXX   |
//                     |   XXXX     XXXX   |
//                     |   XXX       XXX   |
//                     \         X         /
//                      --\     XXX     /--
//                       | |    XXX    | |
//                       | |           | |
//                       | I I I I I I I |
//                       |  I I I I I I  |
//                        \             /
//                         --         --
//                           \-------/*/*@


                                     @*/\  /\
 *                                    /  \/  \                        ----- |   | ----      |---\ |    | /--\  --- |   |  ---- /--\ /--\
 *                                   /        --                        |   |   | |         |   / |    | |      |  |\  |  |    |    |
 *   \---\                          /           \                       |   |---| ----      |--/  |    |  \     |  | \ |  ----  \    \
 *    |   \------------------------/       /-\    \                     |   |   | |         |  \  |    |   -\   |  |  \|  |      -\   -\
 *    |                                    \-/     \                    |   |   | ----      |---/  \--/  \--/  --- |   \  ---- \--/ \--/
 *     \                                             ------O
 *      \                                                 /                 --- |   | ----  /--\        |--\   /--\   /--\
 *       |    |                    |    |                /                   |  |\  | |    |    |       |   | |    | |
 *       |    |                    |    |-----    -------                    |  | \ | ---- |    |       |   | |    | | /-\
 *       |    |\                  /|    |     \  WWWWWW/                     |  |  \| |    |    |       |   | |    | |    |
 *       |    | \                / |    |      \-------                     --- |   \ |     \--/        |--/   \--/   \--/
 *       |    |  \--------------/  |    |
 *      /     |                   /     |
 *      \      \                  \      \
 *       \-----/                   \-----/
 */*@